body {
  width: calc(900px - 2px);
}
thead > tr > th {
  border-bottom: 0;
  height: 20px;
}
thead th,
tbody th {
  background-color: #0000ff;
  border: solid 1px white;
  color: white;
  text-align: center;
  font-size: 10pt;
  font-weight: normal;
}
thead td {
}
td {
  padding: 0;
}

table input {
  padding: 0;
  /* width: 60px; */
  border: none;
  width: 100%;
}

/* basic setting */
.input-block__outer {
  height: 35px;
  width: initial;
  margin: 0 5px 0 5px;
}
.input__title {
  width: initial;
  padding: 0 3px 0 3px;
}
/* =============page layout=============== */
.upper__wrapper {
  padding: 0;
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.bottom__wrapper {
  padding: 0;
  height: calc(598px - 30px - 250px);
  width: 100%;
  display: flex;
  flex-direction: row;
}
.input__wrapper {
  width: 500px;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.complete-list__wrapper {
  width: calc(898px - 500px);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left__wrapper {
  width: 300px;
  height: 100%;
}
.middle__wrapper {
  width: 300px;
  height: 100%;
}
.right__wrapper {
  width: calc(898px - 300px - 300px);
  height: 100%;
}
.top__box {
  height: 50px;
}
/* ============= Table Settings =============== */
/* complete-list__table */
#complete-list__table {
  background-color: #0000ff;
  font-size: 10pt;
}
